<h2>Statistic Jollybee COMP6049 - LA03</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th><a ng-click="sortNim()">NIM</a></th>
        <th><a ng-click="sortName()">Name</a></th>
        <th><a ng-click="sortUser()">Username</a></th>
        <th class="text-center" style="cursor: pointer" ng-repeat="(i, v) in verdictLabel"><a ng-click="sortD(i)" title="{{verdicts[i]}}">{{v}}</a></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(i, usr) in userData track by $index">
        <td>{{i+1}}</td>
        <td>{{usr.nim}}</td>
        <td style="text-transform:capitalize">{{usr.name|lowercase}}</td>
        <td><a target="_blank" href="https://jollybeeoj.com/user/view/{{usr.username|lowercase}}">{{usr.username|lowercase}}</a></td>
        <td class="text-center" ng-repeat="vu in usr.jml track by $index">{{vu}}</td>
    </tr>
    <tr ng-show="showLoad" >
        <td colspan="11" class="text-center" style="height: 100px;vertical-align: middle;">Loading</td>
    </tr>
    </tbody>
</table>
